/*historyのサイドバー  */
.HISsidebar{
position: fixed;
right: -250px;
height: 100%;
width: 250px;
background-color:ccc ;
transition: all 0.5s;
}

.HISsidebar header{
 font-size: 20px;
 text-align: center;
 line-height: 70px;
 background-color: darkgray;
 }

.HISsidebar ul a{
 height:100%;
 width: 100%;
 line-height: 65px;
 color: black;
 font-size:20px;
 padding-right: 30px;
 padding-left: 20px;
 }

 #check{
     display: none;
 }

 label #humb, label #times{
     z-index:100;
     right:0;
     position: absolute;
     cursor: pointer;
     background-color:antiquewhite;
     border-radius: 3px;
 }

 label #humb{
     right:40px;
     top: 25px;
     font-size: 25px;
     padding: 6px 12px;
     transition: all 0.4s;
 }
 label #times{
     z-index: 100;
     right: -190px;
     top:17px;
     font-size: 30px;
     color:white;
     padding: 4px 9px;
     transition: all 0.5s;
 }

 #check:checked ~ .HISsidebar{
     right:0;
 }

 #check:checked ~ label #humb{
     right:250px;
     opacity: 0;
     pointer-events:none;
 }

 #check:checked ~ label #times{
    right: 190px;

 }

/*historyのコンテンツ */

.HIS{
	overflow:hidden;
	margin:0;

}
.specific-jsp-container *{
 list-style: none;
 text-decoration: none;
 margin: 0;
 padding:0;
 box-sizing: border-box;
 z-index:55;
}

 .HISbg{
    width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-image:url("/virtualtravel/pics/wa_image.jpg");
   background-size:cover ;
 }
.bigContent{
	height:100%;
	width:100%;
 background-color: rgba(255, 255, 255, 0.6);
 z-index: 5;
 }
 .HIShistory{
 position:fixed;
 top:8%;
 left:25%;
 font-family: 'HG正楷書体-PRO' , serif ;
 font-size:40px;
 z-index:5;
 }
 .HIScontent{
    font-family:"monospace";
    position:fixed;
    top:20%;
    left:25%;
    bottom:10%;
    height:70%;
    width:50%;
    overflow:auto;
    }
.HIStable{
	width:100%;
    background-color: rgba(250,235,215,0.9);
    line-height: 40px;
    border-color:darkgrey;
}

table th{
	z-index:2;
    font-size:x-large;
    border: 2px solid black;
    border-color:gray;
}

.r1{
    padding: 10px 70px 10px 70px;
}
.r2{
    padding: 10px 150px 10px 150px;
}
.r3{
    padding: 10px 10px 10px 10px;
}
.thead{
	background-color:#e3e2a5;
	position: sticky;
    top: 0;
    left: 0;

}
.HISform{
	margin-bottom:0;
}

.star-input{
	display: none;
}

.star-label{
	font-size: 24px;
	color:#bbb;
	cursor:pointer;
}

.star-input:checked ~ .star-label{
	color:#f90;
}

.favbutton{
	position:fixed;
	padding:10px 20px;
	right:26%;
	top:90%;
}
.hisText{
	background-color:rgba(255,255,255,0.8);
	position:fixed;
	top:90%;
	left:25%;
}
