<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">


    <servlet>
        <servlet-name>○○</servlet-name>
        <servlet-class>パッケージ名.サーブレット名</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>○○</servlet-name>
        <url-pattern>/〇〇</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>registS</servlet-name>
        <servlet-class>virtualtravel.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registS</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>loginS</servlet-name>
        <servlet-class>virtualtravel.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginS</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>tourS</servlet-name>
        <servlet-class>virtualtravel.TourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tourS</servlet-name>
        <url-pattern>/tour</url-pattern>
    </servlet-mapping>

         <servlet>
        <servlet-name>screen1S</servlet-name>
        <servlet-class>virtualtravel.Screen1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>screen1S</servlet-name>
        <url-pattern>/screen1</url-pattern>
    </servlet-mapping>

             <servlet>
        <servlet-name>screen2S</servlet-name>
        <servlet-class>virtualtravel.Screen2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>screen2S</servlet-name>
        <url-pattern>/screen2</url-pattern>
    </servlet-mapping>

             <servlet>
        <servlet-name>screen3S</servlet-name>
        <servlet-class>virtualtravel.Screen3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>screen3S</servlet-name>
        <url-pattern>/screen3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dbtestS</servlet-name>
        <servlet-class>virtualtravel.DBTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbtestS</servlet-name>
        <url-pattern>/dbtest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>finalS</servlet-name>
        <servlet-class>virtualtravel.FinalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>finalS</servlet-name>
        <url-pattern>/final</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>sessionhakiS</servlet-name>
        <servlet-class>virtualtravel.SessionInvalidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionhakiS</servlet-name>
        <url-pattern>/sessioninvalidate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>favoriteS</servlet-name>
        <servlet-class>virtualtravel.FavoriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>favoriteS</servlet-name>
        <url-pattern>/favorite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>favtourS</servlet-name>
        <servlet-class>virtualtravel.FavoriteTourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>favtourS</servlet-name>
        <url-pattern>/favtour</url-pattern>
    </servlet-mapping>


</web-app>